<div class="container">
  <ng-container *ngIf="groups; else loading">
    <mat-card>
      <mat-card-title>Список групп</mat-card-title>
      <mat-card-content>
        <table mat-table [dataSource]="groups">

          <!-- Имя группы -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Номер группы</th>
            <td mat-cell *matCellDef="let group" style="position: relative;">
              <div>
                <a [routerLink]="['/group', group.id]">{{ group.name }}</a>

                <span (click)="updateGroup(group)" class="material-icons"
                      style="font-size: 20px; position: absolute; right: 20px;cursor: pointer;">edit</span>
                <span (click)="deleteGroup(group.id)" class="material-icons"
                      style="font-size: 20px; position: absolute; right: 0;cursor: pointer;">delete</span>
              </div>
            </td>

          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
        </table>
      </mat-card-content>
    </mat-card>
    <ng-container>
      <button mat-raised-button (click)="openModal()" style="margin-top: 20px">Создать группу</button>
    </ng-container>

    <!-- модальное окно -->

    <div *ngIf="isModalOpen" class="modal-backdrop">
      <div class="modal">
        <h2>Создание группы</h2>
        <label style="padding: 5px">
          Имя группы:
          <input style="padding-top: 4px" type="text" [(ngModel)]="group.name" required>
        </label>
        <br>
        <button mat-raised-button style="" (click)="closeModal()">Закрыть</button>
        <button mat-raised-button style="margin-left:140px; margin-top: 5px;margin-bottom: 5px" (click)="createGroup()">
          Сохранить
        </button>
      </div>
    </div>

  </ng-container>
  <ng-template #loading>
    <mat-spinner diameter="50"></mat-spinner>
  </ng-template>

</div>
